<h1>Listing users</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.email %></td>
    
    <td>
    <% minor_button_group do %>
      <%= pill_button_link_to 'Show', user %>
      <%= edit_pill_button_link_to 'Edit', edit_user_path(user) %>
      <%= remove_negative_pill_button_link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= add_button_link_to 'New User', new_user_path %>
